<a href="https://colab.research.google.com/github/JaebinChoi/Recommendation-System/blob/master/movie.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!git clone https://github.com/JaebinChoi/Recommendation-System.git

Cloning into 'Recommendation-System'...
remote: Enumerating objects: 3, done.
remote: Counting objects: 100% (3/3), done.
remote: Compressing objects: 100% (2/2), done.
remote: Total 3 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (3/3), done.

In [ ]:
ls -ltr

total 8
drwxr-xr-x 1 root root 4096 Jul 30 16:30 sample_data/
drwxr-xr-x 3 root root 4096 Aug 25 12:01 Recommendation-System/

In [ ]:
cd Recommendation-System/

/content/Recommendation-System

In [ ]:
ls -ltr

total 4
-rw-r--r-- 1 root root 52 Aug 25 12:01 README.md

In [19]:
ls

Recommendation-System/  sample_data/

In [ ]:
# Google Drive 내의 폴더에 접근
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /gdrive
/gdrive

In [ ]:
import pandas as pd;
pd.__version__

'1.0.5'

### 데이터 읽기

In [ ]:
## 데이터 읽어오기

## 데이터 포맷 (% 연산자)
## print('Integer : %d, String : %s, float : %f' % (100, "str", 1.1))
## %와 포맷 알파벳 사이에 숫자
## %5s => 숫자만큼 공간확보
## %05s => 빈 부분은 0으로

path = '/gdrive/My Drive/Recommend'
movies = pd.read_csv('%s/data/ml-latest-small/movies.csv' % path, index_col = 'movieId')

## 데이터 개수, index를 제외한 컬럼 개수
movies.shape

## 데이터 출력
# movies            # 전체 출력
movies.head()   # 위에서부터   (Default 5)
# movies.tail(5)     # 아래에서부터 (Default 5)
# movies.sample(5)  # 랜덤 출력    (Default 1)
# movies.columns    # 컬럼 출력

                                      title                                       genres
movieId
1                          Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
2                            Jumanji (1995)                   Adventure|Children|Fantasy
3                   Grumpier Old Men (1995)                               Comedy|Romance
4                  Waiting to Exhale (1995)                         Comedy|Drama|Romance
5        Father of the Bride Part II (1995)                                       Comedy

### 개봉연도 데이터 정제하기 (데이터 전처리, Preprocessing)

In [ ]:
## 정규식 처리 => (0000) 형식을 추출
movies['year'] = movies['title'].str.extract('(\(\d\d\d\d\))')

movies['year'] = movies['year'].str.extract('(\d\d\d\d)')
movies

array(['1995', '1994', '1996', '1976', '1992', '1967', '1993', '1964',
       '1977', '1965', '1982', '1990', '1991', '1989', '1937', '1940',
       '1969', '1981', '1973', '1970', '1955', '1959', '1968', '1988',
       '1997', '1972', '1943', '1952', '1951', '1957', '1961', '1958',
       '1954', '1934', '1944', '1960', '1963', '1942', '1941', '1953',
       '1939', '1950', '1946', '1945', '1938', '1947', '1935', '1936',
       '1956', '1949', '1932', '1975', '1974', '1971', '1979', '1987',
       '1986', '1980', '1978', '1985', '1966', '1962', '1983', '1984',
       '1948', '1933', '1931', '1922', '1998', '1929', '1930', '1927',
       '1928', '1999', '2000', '1926', '1919', '1921', '1925', '1923',
       '2001', '2002', '2003', '1920', '1915', '1924', '2004', '1916',
       '1917', '2005', '2006', '1902', nan, '1903', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '1908'], dtype=object)

### 결측값 핸들링하기

In [ ]:
## NaN (Not a Number), 결측치

# movies['year'].unique()

## null인 연도를 추출
# movies[movies['year'].isnull()]

## NaN 데이터를 채워주기
movies['year'] = movies['year'].fillna('2050')
movies['year'].unique()

array(['1995', '1994', '1996', '1976', '1992', '1967', '1993', '1964',
       '1977', '1965', '1982', '1990', '1991', '1989', '1937', '1940',
       '1969', '1981', '1973', '1970', '1955', '1959', '1968', '1988',
       '1997', '1972', '1943', '1952', '1951', '1957', '1961', '1958',
       '1954', '1934', '1944', '1960', '1963', '1942', '1941', '1953',
       '1939', '1950', '1946', '1945', '1938', '1947', '1935', '1936',
       '1956', '1949', '1932', '1975', '1974', '1971', '1979', '1987',
       '1986', '1980', '1978', '1985', '1966', '1962', '1983', '1984',
       '1948', '1933', '1931', '1922', '1998', '1929', '1930', '1927',
       '1928', '1999', '2000', '1926', '1919', '1921', '1925', '1923',
       '2001', '2002', '2003', '1920', '1915', '1924', '2004', '1916',
       '1917', '2005', '2006', '1902', '2050', '1903', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '1908'], dtype=object)

### 데이터에 가장 많이 출현하는 개봉연도를 찾아주세요.

In [ ]:
movies['year'].value_counts()

2002    311
2006    295
2001    294
2007    284
2000    283
       ...
1919      1
1902      1
1921      1
1908      1
1903      1
Name: year, Length: 107, dtype: int64