<a href="https://colab.research.google.com/github/JaebinChoi/Recommendation-System/blob/master/my_ratings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 구글 드라이브 내 파일 접근

In [ ]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /gdrive
/gdrive

### 데이터 분석

In [ ]:
import pandas as pd;

path = '/gdrive/My Drive/Recommend'

In [ ]:
ratings = pd.read_csv('%s/data/ml-latest-small/ratings.csv' % path)
ratings.sample()

       userId  movieId  rating   timestamp
13730      89    34332     4.5  1520409451

### Timestamp 컬럼 처리

In [ ]:
from datetime import datetime

In [ ]:
datetime.fromtimestamp(978744464)
# 년, 월, 일, 시, 분, 초

datetime.datetime(2001, 1, 6, 1, 27, 44)

In [ ]:
ratings['timestamp'] = ratings['timestamp'].apply(lambda x: datetime.fromtimestamp(x))
ratings.sample()

       userId  movieId  rating           timestamp
45021     298    33145     1.0 2016-01-16 15:57:05

### 내 데이터 붙이기

In [ ]:
myratings = pd.read_csv('%s/data/ml-latest-small/my-ratings.csv' % path)
myratings.sample()

   userId  movieId  rating            timestamp
2    1000   163134     4.5  2020-08-26 13:16:00

In [ ]:
# Object의 timestamp를 datetime으로
myratings['timestamp'] = pd.to_datetime(myratings['timestamp'])
myratings.sample()

    userId  movieId  rating           timestamp
17    1000   188301     4.5 2020-08-26 13:16:00

In [ ]:
# 데이터 이어붙이기
ratings_concat = pd.concat([ratings, myratings])
ratings_concat.tail(10)

    userId  movieId  rating           timestamp
18    1000    89745     4.3 2020-08-26 13:16:00
19    1000   122892     4.5 2020-08-26 13:16:00
20    1000   122912     4.5 2020-08-26 13:16:00
21    1000   180985     5.0 2020-08-26 13:16:00
22    1000   109487     4.0 2020-08-26 13:16:00
23    1000        2     4.0 2020-08-26 13:16:00
24    1000   122920     4.0 2020-08-26 13:16:00
25    1000   110102     3.7 2020-08-26 13:16:00
26    1000   159858     4.0 2020-08-26 13:16:00
27    1000     1721     4.0 2020-08-26 13:16:00

In [ ]:
# 데이터 저장
ratings_concat.to_pickle('%s/data/ml-latest-small/ratings_updated.p' % path)