<a href="https://colab.research.google.com/github/JaebinChoi/Recommendation-System/blob/master/pandas_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python Lambda

In [ ]:
# def == define, definition
def add_1(x):
  return x+1

add_1(4)

5

In [ ]:
# lambda
add_1 = lambda x: x + 1
add_1(3)

4

### 구글 드라이브 내 파일 접근

In [ ]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /gdrive
/gdrive

### 정규표현식을 사용하지 않고, 개봉연도 추출하기

In [ ]:
import pandas as pd

path = '/gdrive/My Drive/Recommend'

In [ ]:
movies = pd.read_csv('%s/data/ml-latest-small/movies.csv' % path, index_col='movieId')
movies.sample()

                               title                genres
movieId
151653   Welcome to Happiness (2015)  Comedy|Drama|Fantasy

In [ ]:
sample_title = movies["title"][1]
sample_title

'Toy Story (1995)'

In [ ]:
sample_title[-5:-1]

'1995'

In [ ]:
def get_year(x):
  return x[-5:-1]

In [ ]:
get_year(sample_title)

'1995'

In [ ]:
years = []

for title in movies["title"]:
  years.append(get_year(title))

# 중복 제거
list(set(years))[:5]

['2007', '008)', '2003', '1938', '1968']

In [ ]:
# Pandas apply, Python lambda expression 으로 간단하게 풀어보기
# apply() : title이라는 컬럼에 함수를 반복 적용, for 문의 기능
# apply(함수) : 함수를 lambda 함수로도 사용 가능

# movies['title'].apply(get_year)
movies['year'] = movies['title'].apply(lambda x: x[-5:-1])

# 중복 제거
movies['year'].unique()

array(['1995', '1994', '1996', '1976', '1992', '1967', '1993', '1964',
       '1977', '1965', '1982', '1990', '1991', '1989', '1937', '1940',
       '1969', '1981', '1973', '1970', '1955', '1959', '1968', '1988',
       '1997', '1972', '1943', '1952', '1951', '1957', '1961', '1958',
       '1954', '1934', '1944', '1960', '1963', '1942', '1941', '1953',
       '1939', '1950', '1946', '1945', '1938', '1947', '1935', '1936',
       '1956', '1949', '1932', '1975', '1974', '1971', '1979', '1987',
       '1986', '1980', '1978', '1985', '1966', '1962', '1983', '1984',
       '1948', '1933', '1931', '1922', '1998', '1929', '1930', '1927',
       '1928', '1999', '2000', '1926', '1919', '1921', '1925', '1923',
       '2001', '2002', '2003', '1920', '1915', '1924', '2004', '1916',
       '1917', '999)', '2005', '2006', '1902', 'lon ', '1903', '2007',
       '2008', '008)', '007)', '2009', '2010', '2011', '2012', '011)',
       '998)', '995)', '2013', '012)', '973)', '2014', '2015', '014)',
       '2016', '2017', '2018', '1908', 'r On', ' Roa', 'atso', 'imal',
       'erso', 'ligh', 'he O', 'osmo', ' Bab', 'ron ', 'irro'],
      dtype=object)

In [ ]:
movies[movies['year'] == '012)']

                                title                    genres  year
movieId
102084   Justice League: Doom (2012)   Action|Animation|Fantasy  012)

In [ ]:
# Pandas .loc[] == location
# movies.loc[index, column]
movies.loc[102084, 'title'].strip() # strip() == trim()

'Justice League: Doom (2012)'

In [ ]:
movies['title'] = movies['title'].apply(lambda x: x.strip())
movies['title']

movieId
1                                  Toy Story (1995)
2                                    Jumanji (1995)
3                           Grumpier Old Men (1995)
4                          Waiting to Exhale (1995)
5                Father of the Bride Part II (1995)
                            ...
193581    Black Butler: Book of the Atlantic (2017)
193583                 No Game No Life: Zero (2017)
193585                                 Flint (2017)
193587          Bungo Stray Dogs: Dead Apple (2018)
193609          Andrew Dice Clay: Dice Rules (1991)
Name: title, Length: 9742, dtype: object

In [ ]:
movies['year'] = movies['title'].apply(lambda x: x[-5:-1])
movies['year'].unique()

array(['1995', '1994', '1996', '1976', '1992', '1967', '1993', '1964',
       '1977', '1965', '1982', '1990', '1991', '1989', '1937', '1940',
       '1969', '1981', '1973', '1970', '1955', '1959', '1968', '1988',
       '1997', '1972', '1943', '1952', '1951', '1957', '1961', '1958',
       '1954', '1934', '1944', '1960', '1963', '1942', '1941', '1953',
       '1939', '1950', '1946', '1945', '1938', '1947', '1935', '1936',
       '1956', '1949', '1932', '1975', '1974', '1971', '1979', '1987',
       '1986', '1980', '1978', '1985', '1966', '1962', '1983', '1984',
       '1948', '1933', '1931', '1922', '1998', '1929', '1930', '1927',
       '1928', '1999', '2000', '1926', '1919', '1921', '1925', '1923',
       '2001', '2002', '2003', '1920', '1915', '1924', '2004', '1916',
       '1917', '2005', '2006', '1902', 'lon ', '1903', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '1908', 'r On', ' Roa', 'atso', 'imal', 'erso',
       'ligh', 'he O', 'osmo', ' Bab', 'ron ', 'irro'], dtype=object)

In [ ]:
errors = ['lon ', 'r On', ' Roa', 'atso', 'imal', 'erso',
          'ligh', 'he O', 'osmo', ' Bab', 'ron ', 'irro']

# errors가 포함된 영화 출력 : 포함 ==> True, 포함 X ==> False
# movies 에서 True만 출력
# movies[movies['year'].isin(errors)]


# Pandas .loc[] == location
# movies.loc[필터링정보, column]
# errors -> 2050으로
movies.loc[movies['year'].isin(errors), 'year'] = '2050'
movies['year'].unique()

array(['1995', '1994', '1996', '1976', '1992', '1967', '1993', '1964',
       '1977', '1965', '1982', '1990', '1991', '1989', '1937', '1940',
       '1969', '1981', '1973', '1970', '1955', '1959', '1968', '1988',
       '1997', '1972', '1943', '1952', '1951', '1957', '1961', '1958',
       '1954', '1934', '1944', '1960', '1963', '1942', '1941', '1953',
       '1939', '1950', '1946', '1945', '1938', '1947', '1935', '1936',
       '1956', '1949', '1932', '1975', '1974', '1971', '1979', '1987',
       '1986', '1980', '1978', '1985', '1966', '1962', '1983', '1984',
       '1948', '1933', '1931', '1922', '1998', '1929', '1930', '1927',
       '1928', '1999', '2000', '1926', '1919', '1921', '1925', '1923',
       '2001', '2002', '2003', '1920', '1915', '1924', '2004', '1916',
       '1917', '2005', '2006', '1902', '2050', '1903', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '1908'], dtype=object)